body {
    background-color:#3A01DF;
    font-family: 'MyWebFont';
    font-size:95px;
    color:white;
}
.contenedor {
height: 130px;

padding: 10px;

/* For WebKit (Safari, Google Chrome etc) */

background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#666));

/* For Mozilla/Gecko (Firefox etc) */

background: -moz-linear-gradient(top, #00f, #fff);

/* For Internet Explorer 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF);

/* For Internet Explorer 8 */

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";

} 
.numero {
    text-align:center;
    vertical-align:middle;
    padding-top:12px;
}
@font-face {
	font-family: 'MyWebFont';
	src: url('digital-7.ttf')  format('truetype')/* Safari, Android, iOS */
	}