body {
    border:0px;
	margin:0px;
  /*font: 7px Tahoma;*/
   background: #3A01DF;
  /* border: 2px solid rgb(0, 0, 0);*/
   width:78px;
   height:260px;
   color: white;
   font: 7px Tahoma;
   text-align:left;
   }

      
      #g1, #g2, #g3, #g4, #g5 {
        width:75px; height:60px;
        display: inline-block;
        margin: 0px;
        padding:5px;
      }